.Canvas {
  background-color: #fff;
  background-image: linear-gradient(to top right, #c8c8c8 25%, transparent 0, transparent 75%, #c8c8c8 0, #c8c8c8),
    linear-gradient(to top right, #c8c8c8 25%, transparent 0, transparent 75%, #c8c8c8 0, #c8c8c8);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}
